@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.page-body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  background-color: #FFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);


  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
}

.main-container{
  flex-grow: 1;
}

/* button */
.button{
  color: #FFF;
  background-color: #83B3D3;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  box-sizing: border-box;
  padding: 8px 15px;
  display: inline-block;

}

.button-color {
  background-color: #756257;
}

.subscribe-button{
font-size: 20px;
line-height: 36px;
}

.favorites{
background-color: #7DB54F;
}

/* navigation */

.navigation{
  display: flex;
}

.logo img{
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: -10px;
}

.navigation-list{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: flex;
}

.navigation-user{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  position: relative;
}

.navigation-link{
  text-decoration: none;
  color: #000;
  display: block;
  padding: 22px 12px;
}

.navigation-search .icon{
text-decoration: none;
background-color: #7DB54F;
color: #fff;
position: absolute;
}

.user-item{
  cursor: pointer;
}

.navigation-search{
  background-image: url(../image/decor/search.svg);
  background-repeat: no-repeat;
background-position: center;
  }


.navigation-favorites{
background-image: url(../image/decor/favorites.svg);
background-repeat: no-repeat;
background-position: center;
}



/* hero */
.hero{
  background-image: url(../image/background/hero-1.jpg);
  background-color: #000000;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  width: 1200px;
  height: 485px;
  padding-top: 50px;
  margin-bottom: 70px;
}

.hero::after{
content: '';
width: 1200px;
height: 200px;
background-image: url(../image/background/hero-flag.svg);
background-repeat: no-repeat;
position: absolute;
bottom: -143px;
}

.hero img{
display: block;
margin: 0 auto;
}

/* advantages */
.sedona-benefits .advantages-item:nth-child(3){
  background:  rgba(131, 179, 211, 0.20);
}

.primacy-list .primacy-item:nth-child(1),
.primacy-list .primacy-item:nth-child(3){
  background: rgba(131, 179, 211, 0.12);
}

.advantages{
  text-align: center;
}

.wrrapper{
  width: 230px;
  margin: 94px 85px;
}

.sedona-benefits{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.primacy-active{
  grid-column: 1 / 4;
  display: flex;
}

.advantages-list{
  list-style: none;
  margin: 0;
  padding: 0;
}




.hero-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;

  margin: 0;
 margin-bottom: 25px;
 margin-top: 70px;
}

.hero-text{
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 90px;
}

.advantages-title{
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;


  margin-bottom: 62px;


}

.primacy-title{
  color: #fff;
}


.advantages-text{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin: 0 auto;
}

.wrrapper-reverse{
  flex-direction: row-reverse;
}

.primacy-active{
  color: #fff;
  background-color: #82B3D3;

}
.sedona-benefits,
.primacy-list{
  list-style: none;
}

/* search */
.search{
  text-align: center;
  padding-bottom: 96px;
}
.search-title{
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

  margin: 0;
  margin-top: 96px;
  margin-bottom: 26px;
}

.search-text{
  font-size: 22px;
  line-height: 26px;
 margin-bottom: 54px;


}

.search-button{
  font-size: 20px;
  line-height: 36px;
}

/* subscribe */
.subscribe{
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe-bg{
  background: no-repeat url(../image/background/subscribe.jpg);
  background-color: #82B3D3;
  color: #FFF;
  background-size: cover;
  text-align: center;
}

.subscribe-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-text{
  font-size: 22px;
  line-height: 26px;
}

.field-input{
  font-family: inherit;
  font-size: 18px;
  background-color: #f2f2f2;
  width: 440px;
  height: 52px;
  border: none;
 padding: 0;

}

.subscribe-button{
margin-left: -5px;
border-radius: 0%;

}

/* footer  */
.main-footer{
  display: flex;
  padding: 30px 70px;
  justify-content: space-between;
}

.footer-social-list{
  display: flex;
  list-style: none;
  margin: 0;
}

/* footer-phone */
.footer-phone a {
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
}

/* catalog */
/* filter */

.breadcrumbs{
  font-size: 16px;
}

.filter{
  background: no-repeat url(../image/background/filter.jpg);
  background-color: #82B3D3;
  color: #fff;
  background-size: cover;


  padding: 35px 70px 70px;
}

.sorting-button{
  padding: 14px 12px;
  margin: 8px;
}

.breadcrumbs{
  display: flex;
}

.filter-form{
  display: grid;
  grid-template-columns: 200px 200px 1fr 224px;
  gap: 17px;
}

.wrrap-card{
  padding: 40px 70px 60px;
}

.filter-list,
.catalog-filter-list{
  list-style: none;
}
.product-card-image{
  width: 300px;
  height: 212px;
}
.filter-list{
padding: 0;
margin: 0;
}

.filter-title{
  font-size: 60px;
  line-height: 78px;

  margin: 0;
  padding: 0;
}

.catalog-filter-group{
  margin: 0;
  padding: 0;

  border: none;
}

.filter-fieldset-coin{
  margin-left: 94px;
}




.catalog-filter-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  margin-bottom: 32px;
}

.control-input{
  font-size: 18px;
line-height: 24px;
font-weight: 700;
color:#000;
font-family: inherit;


}

.filter-item{
  margin-bottom: 16px;
}

.filter-item:last-child{
  margin-bottom: 0;
}





.range-title{
 opacity: 0.3;
}

.button-submit {
  background-color: #82B3D3;
  min-height: 48px;
  margin-bottom: 16px;
}

.button-reset {
  font-size: 16px;
  color: #fff;
  background-color: transparent;

}

/* catalog */
.wrrap{
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
 margin: 50px 70px 0;

}

.catalog-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
text-transform: uppercase;
margin: 0;
}

.select-control{
  font-family: inherit;
  font-size: 18px;
  color: #333;
  margin-left: auto;
  margin-right: 70px;
}

/* product-card */
.product-list{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
border: 1px solid #E6E6E6;
}

.product-card-title{
  font-size: 24px;
  line-height: 28px;
}

.product-card-link{
  color: #000000;
  text-decoration: none;
}

.card-rate{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card-price{
  display: flex;
    justify-content: space-between;
}



/* pagination */

.pagination{
  display: flex;
  list-style: none;
}

.pagination-link{
  padding: 14px 24px;
  margin-left: 8px;
}
.pagination-link-active,
.pagination-link-end{
  background-color: transparent;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

img {
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: border-box;
}
