@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: rgb(242, 242, 242);
}

img {
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);


  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

/* button */
.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #83b3d3;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  display: inline-block;
  margin: 0;
  padding: 8px 15px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(105, 163, 201);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(104, 163, 202);
}

.button:focus:not(:active) {
  background-color: rgb(104, 163, 202);
}

.button-secondary {
  background-color: rgb(117, 98, 87);
}

.button-secondary:hover {
  background-color: rgb(97, 80, 72);
}

.button-secondary:active {
  background-color: rgb(97, 80, 72);
}

.button-secondary:focus:not(:active) {
  background-color: rgb(97, 80, 72);
}

.button-success {
  background-color: rgb(125, 181, 79);
}

.button-success:hover {
  background-color: rgb(108, 158, 66);
}

.button-success:active {
  background-color: rgb(108, 158, 66);
}

.button:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(230, 230, 230);
}

/* page-header */
.logo {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: -11px;
}

.navigation {
  padding: 0 70px;
  display: flex;
  gap: 30px;
  min-height: 64px;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  flex-grow: 1;
}

.navigation-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  padding: 20px 16px;
}

.navigation-link[href]:hover {
  color: rgba(51, 51, 51, 0.8);
}

.navigation-link[href]:active {
  color: rgb(51, 51, 51);
  opacity: 0.3;
}

.navigation-link[href]:focus {
  color: rgba(51, 51, 51, 0.8);
  outline-offset: -1px;
}

.navigation-active {
  position: relative;
}

.navigation-active::after {
  content: "";
  position: absolute;
  right: 17px;
  left: 17px;
  bottom: 0;
  height: 3px;
  background-color: #756257;
}

.additional-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 322px;
}

.additional-menu-button {
  min-width: 130px;
  margin-left: 20px;
}

.icon-button {
  position: relative;
  display: grid;
  place-content: center;
  width: 42px;
  height: 42px;
  fill: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-button:hover {
  fill: #756257;
}

.icon-button:active {
  fill: rgba(95, 77, 67, 0.3);
}

.icon-button:focus {
  fill: #756257;
  outline-offset: -1px;
}

.icon-button-counter {
  position: absolute;
  top: 0;
  right: 3px;
  min-width: 20px;
  min-height: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(125, 181, 79);
  border-radius: 50%;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
}

/* hero */
.hero {
  background-image: url("../image/background/hero-1.jpg");
  background-color: #000000;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  width: 1200px;
  height: 485px;
  padding-top: 50px;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.hero::after {
  content: "";
  width: 1200px;
  height: 200px;
  background-image: url("../image/background/hero-flag.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: -143px;
}

.hero img {
  display: block;
  margin: 0 auto;
}

/* advantages */


.advantages {
  text-align: center;
}

.sedona-benefits {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantages-item {
  position: relative;
  padding: 103px 85px 102px;
}

.primacy-item {
  position: relative;
  padding: 181px 85px 82px;
}

.advantages-li:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {

  background-color: rgba(131, 179, 211, 0.12);
}

.primacy-active {
  grid-column: 1 / 4;
  display: flex;
  color: rgb(255, 255, 255);
  background-color: rgb(130, 179, 211);
}

.primacy-title::after {
  content: "";
  position: absolute;
  right: 170px;
  left: 170px;
  bottom: 196px;

  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.advantages-description {
  padding: 69px 274px 68px;
}

.advantages-li {
  position: relative;
  padding: 112px 85px;
}

.hero-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.title-advantages {
  padding-top: 10px;
}

.title-advantages::after {
  content: "";
  position: absolute;
  right: 170px;
  left: 170px;
  bottom: 184px;

  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
}

.title-advantage {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
}

.hero-text-primacy {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  font-weight: 400;
}

.advantages-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.primacy-title {
  color: rgb(255, 255, 255);
}

.housing {
  background-image: url("../image/decor/Icon=home.svg");
  background-color: rgba(131, 179, 211, 0.2);
  background-repeat: no-repeat;
  background-position: left 163px top 79px;
}

.food {
  background-image: url("../image/decor/Icon=food.svg");
  background-repeat: no-repeat;
  background-position: left 163px top 80px;
}

.souvenirs {
  background-image: url("../image/decor/Icon=souvenir.svg");
  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position: left 169px top 77px;
}


.wrrapper-reverse {
  flex-direction: row-reverse;
}

.advantages-description-two {
  padding: 64px 348px 43px;
}

.sedona-benefits,
.primacy-list {
  list-style: none;
}

/* search */
.search {
  text-align: center;
  padding: 96px 304px 96px;
}

.search-title {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 19px;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;

  margin-bottom: 54px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  background-color: #756157;
}

.prim-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.prim-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* subscribe */
.subscribe {
  text-align: center;
  padding: 98px 258px 105px;
}

.subscribe-bg {
  background: no-repeat url("../image/background/subscribe.jpg");
  background-color: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  background-size: cover;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 232px;
}

.field {
  display: flex;
}

.subscribe-input {
  width: 100%;
  margin: 0;
  padding: 8px 20px;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
  font-size: 18px;
}

.subscribe-input:hover {
  background-color: #e6e6e6;
}

.subscribe-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.subscribe-button {
  padding: 17px 16px 14px;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
}

/* catalog */
/* filter */

.breadcrumbs {
  font-size: 16px;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

.filter {
  background: no-repeat url("../image/background/filter.jpg");
  background-color: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  background-size: cover;
  padding: 35px 70px 70px;
}

.decor-arrow {
  background-image: url("../image/decor/crumb.svg");
  background-repeat: no-repeat;
  background-position: center left 4px;
  padding-left: 24px;
}

.breadcrumbs-link-home {
  background-image: url("../image/decor/Vector-home.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  padding: 10px;
  background-position: center;
}

.crumb:hover,
.breadcrumbs-link-home:hover {
  opacity: 0.6;
}

.crumb:active,
.breadcrumbs-link-home:active {
  opacity: 0.3;
}

.filter-form {
  display: grid;
  grid-template-columns: 200px 200px 1fr 224px;
  gap: 20px;
}

.wrrap-card {
  padding: 40px 71px 60px;
}

.filter-list,
.catalog-filter-list {
  list-style: none;
}

.product-card-image {
  display: block;
  order: -1;
  width: 100%;
  height: 100%;
  grid-area: image;
  object-fit: cover;
}

.filter-list {
  padding: 0;
  margin: 0;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-fieldset-coin {
  margin-left: 71px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 31px;
}

.control-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: inherit;
}

.filter-item {
  margin-bottom: 17px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  margin-left: 33px;
}

.button-submit {
  min-height: 36px;
  margin-bottom: 32px;
}

.button-reset {
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  align-self: center;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.button-reset:hover {
  opacity: 0.3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
}

.button-reset:disabled {
  opacity: 0.1;
}

/*filter-list*/

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}


.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 2px solid transparent;
}

.control:focus .control-mark {
  border: 3px solid rgb(130, 179, 211);
}

.control-input:disabled + .control-mark {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 10px;
  height: 2px;
  background-color: rgba(63, 94, 114, 1);
  content: "";
}


.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: translateX(-3px) translateY(1px) rotate(45deg);
  width: 7px;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  content: "";
}

.control-input:focus:not(:active) + .control-mark {
  outline: 3px solid rgb(130, 179, 211);
}

/*range*/
.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgb(255, 255, 255);
}

.range-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
}

.range-thumb:hover {
  background-color: rgb(131, 179, 211);
}

.range-thumb:focus {
  outline: 4px solid rgb(131, 179, 211);
}


.range-thumb:active {
  outline: 3px solid rgb(131, 179, 211);
}

.toggle-min {
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
}

.toggle-max {
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
}

/* range-fields */
.range {
  width: 288px;
}

.range-fields {
  margin-bottom: 45px;
  display: flex;
  gap: 1px;
}

.range-input {
  width: 83px;
  padding: 12px 40px 12px 20px;
  font: inherit;
  text-align: left;
  border: none;
  appearance: textfield;
  font-weight: 700;
}

.range-input:hover {
  outline: none;
  background-color: rgba(230, 230, 230, 1);
}

.range-input:focus:not(:active) {
  outline: 2px solid rgba(131, 179, 211, 1);
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label {
  position: relative;
  display: flex;
}

.range-title {
  position: absolute;
  color: rgba(0, 0, 0, 1);
  opacity: 0.3;
  right: 20px;
  top: 12px;
}


.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* catalog */
.wrrap {
  width: 1060px;
  display: flex;
  padding: 50px 70px 0;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 5px;
  width: 350px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  width: 290px;
  color: rgb(51, 51, 51);
  margin-left: 195px;
  margin-right: 67px;
  padding-left: 15px;
  cursor: pointer;
  border-color: rgb(229, 229, 229);
  border-radius: 4px;

  background-image: url("/image/decor/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  /* скрывает стрелку */
  appearance: none;
}

.select-control:hover {
  outline: 3px solid rgb(104, 162, 202);
}

.select-control:focus:not(:active) {
  outline: 2px solid rgb(104, 162, 202);
}

.select-control:disabled {
  opacity: 0.3;
}

.sorting-button {
  display: block;
  padding: 14px 12px;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 4px;
  border: 2px solid rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
}

.sorting-button:hover {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -1px;
}

.sorting-button:active {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -1px;
}

.sorting-button:focus {
  outline: 2px solid rgb(104, 163, 202);
  outline-offset: -1px;
  border: none;
}

.sorting-active {
  border: 2px solid rgb(0, 0, 0);
}

.sorting-table {
  width: 48px;
  height: 48px;
  background-image: url("../image/decor/sorting.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}

.sorting-screen {
  width: 48px;
  height: 48px;
  background-image: url("../image/decor/sorting-1.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}

.sorting-list {
  width: 48px;
  height: 48px;
  background-image: url("../image/decor/sorting-2.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}

/* product-card */
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 22px 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card {
  position: relative;
  z-index: 0;
  display: grid;
  align-content: start;
  grid-template-columns: 1fr 20px 140px;
  grid-template-rows: 214px 1fr;
  grid-template-areas:
    "image image image"
    "title title title"
    "description description description"
    "button-more . button-bookmarks"
    "stars rate rate";
  row-gap: 15px;
  padding: 19px;
  border-radius: 4px;
  border: 1px solid rgb(230, 230, 230);
}

.product-card-link {
  grid-area: title;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.product-card-link:focus {
  outline: none;
}

.product-card-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 160px;
  left: 0;
  z-index: 1;
}


.product-card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.product-card-link:hover + .product-card-image {
  opacity: 0.6;
}

.product-card-link:active + .product-card-image {
  opacity: 0.3;
}

.product-card-link:focus:not(:active) + .product-card-image {
  outline: 3px solid #83b3d3;
}

.product-card-price {
  grid-column: description;
  display: grid;
  grid-template-columns: 1fr 140px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.card-price-rub {
  justify-self: end;
}

.button-more {
  grid-area: button-more;
}

.button-bookmarks {
  grid-area: button-bookmarks;
}

.card-rate {
  grid-area: rate;
  justify-self: end;
  min-width: 125px;
  margin: 0;
  padding: 7px 8px 6px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
}

.star {
  grid-area: stars;
  align-self: start;
  width: 23px;
  margin: 0;
  min-height: 37px;

  background-repeat: repeat-x;
  background-position: 0 70%;
  background-size: 23px 17px;
  background-image: url("../image/decor/stars.svg");
}

.star-two {
  width: 46px;
}

.star-three {
  width: 69px;
}

.star-four {
  width: 92px;
}

.star-five {
  width: 115px;
}

/* pagination */
.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 23px 70px 58px 70px;
  width: 1060px;
  flex-wrap: wrap;

  gap: 7px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  height: 44px;
  padding: 8px;

  color: rgb(255, 255, 255);
  background-color: rgb(130, 179, 211);
  border-radius: 4px;

  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: rgb(105, 163, 201);
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus {
  outline: 1px solid rgb(130, 179, 211);
  background-color: rgb(104, 163, 202);
}

.pagination-link-active,
.pagination-link-end {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
}

.pagination-link-active:hover,
.pagination-link-end:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
}

.pagination-link-active:active,
.pagination-link-end:active {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
}

.pagination-link-active:focus,
.pagination-link-end:focus {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
}

/* footer  */

.page-footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 30px;
  padding: 27px 62px 25px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.footer-phone {
  padding: 17px;
  padding-left: 45px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-phone:focus:not(:active) {
  color: #756257;
}

.footer-developer {
  display: block;
  margin-right: -12px;
  padding: 20px 22px;
  justify-self: end;
  border-radius: 10px;
}

.footer-developer:hover {
  fill: #756257;
}

.footer-developer:active {
  fill: #756257;
  opacity: 0.3;
}

.footer-developer:focus:not(:active) {
  fill: #756257;
}

.footer-developer-image {
  display: block;
}

.social-item {
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
}

.social-link {
  display: grid;
  padding: 15px;
  fill: #83b3d3;
  align-content: center;
}

.social-link:hover {
  fill: #68a2ca;
}

.social-link:active {
  opacity: 0.3;
}

.social-link:focus:not(:active) {
  fill: #68a2ca;
}

/* modal */
.modal-container {
  z-index: 1;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-opened {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  min-width: 577px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 53px;
  height: 53px;
  background-color: rgb(242, 242, 242);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.modal-close-button:hover {
  background-color: rgb(230, 230, 230);
}

.modal-close-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(130, 179, 211);
  background-color: rgb(230, 230, 230);
}

.modal-close-button:active {
  background-color: #e6e6e6;
  box-shadow: none;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  opacity: 0.3;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

.modal-close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-title {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: left;
  padding-right: 30px;
  margin-bottom: 64px;
}

.modal-form {
  display: grid;
  grid-template-columns: max-content 110px max-content 110px;
  row-gap: 48px;
  align-items: center;
}

.modal-input-wrapper {
  width: 440px;
  grid-column: 2 / -1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-input-date {
  background-image: url("../image/decor/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px 20px;
}

.modal-input-info {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-top: 4px;
  padding: 0 20px 0;
  left: 0;
  font-size: 16px;
  line-height: 21px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.modal-input-info-invalid {
  display: block;
  color: rgb(255, 87, 87);
}

.modal-input-info-valid {
  display: block;
}

.modal-label {
  padding-right: 18px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.modal-label-adults,
.modal-label-children {
  padding-right: 46px;
}

.modal-label-children {
  display: flex;
  justify-self: end;
  grid-column: 3 / 4;
}

.modal-label-children .modal-label {
  padding-right: 0;
}

.modal-number-wrapper {
  position: relative;
}

.modal-number-wrapper:hover .modal-input-number,
.modal-number-wrapper:focus-within .modal-input-number {
  background-color: rgb(230, 230, 230);
}

.modal-btn-math {
  position: absolute;
  padding: 0;
  top: 0;
  border: none;
  width: 40px;
  height: 100%;
  background-color: transparent;
  outline: none;
}

.sign {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 20px;
  height: 20px;
}

.sign::after,
.sign::before {
  content: "";
  position: absolute;
  background-color: rgba(117, 97, 87, 0.3);
}

.sign::before {
  width: 14px;
  height: 2px;
}

.sign-plus::after {
  width: 2px;
  height: 14px;
}

.modal-btn-math:hover .sign::after,
.modal-btn-math:hover .sign::before,
.modal-btn-math:focus .sign::after,
.modal-btn-math:focus .sign::before {
  background-color: rgb(0, 0, 0);
}

.modal-btn-math:focus .sign {
  box-shadow: 0 0 0 3px rgb(130, 179, 211);
  border-radius: 4px;
}

.modal-btn-math:active .sign {
  opacity: 0.2;
  box-shadow: none;
}

.modal-btn-minus {
  left: 0;
}

.modal-btn-plus {
  right: 0;
}

.modal-submit-button {
  grid-column: 1 / -1;
  font-size: 20px;
  line-height: 24px;
  padding: 18px;
  border-radius: 10px;
}

.tooltip {
  position: relative;
  margin-top: -2px;
  margin-left: 12px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.tooltip-text {
  display: none;
  width: 216px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  padding: 21px 18px 23px 22px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 10px;
  background-color: rgb(51, 51, 51);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip-text::after {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  background-color: #333333;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.page-input {
  color: rgb(0, 0, 0);
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.page-input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.6;
}

.page-input:hover {
  background-color: #e6e6e6;
}

.page-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(130, 179, 212);
  background-color: rgb(230, 230, 230);
}

.modal-input-number {
  text-align: center;
  line-height: 20px;
  padding: 14px 36px;
  appearance: none;
}

.modal-input-number::-webkit-outer-spin-button,
.modal-input-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-light {
  background-color: #82b3d3;
}

.button-light:hover,
.button-light:focus {
  background-color: #68a2ca;
}

.button-light:active {
  color: rgba(255, 255, 255, 0.3);
}
